<!--The content below is only a placeholder and can be replaced.-->

<!-- <div class="container">



 <table border="1">
   <thead>
      <tr>
        <th>Type</th>
        <th>Name</th>
        <th>Batters</th>
        <th>Toppings</th>
      </tr>
   </thead>
   <tbody>
      <tr *ngFor="let data of Newjson;">
        <td >
          {{data.type}}  
        </td>
        <td>
              {{data.name}}  
          </td>
          <td>
               <ul *ngFor="let item of data.batters.batter;" [ngClass]="{'devils-find':item.type==='Devil\'s Food'}">
                 <li [ngClass]="item.type">
                    {{item.type}} 
                 </li>
               </ul>
            </td>
            <td>
                <ul *ngFor="let y of data.topping;">
                    <li>
                       {{y.type}} 
                    </li>
                  </ul>
              </td>

     </tr> 
    </tbody>
  </table> -->
<!-- <tr *ngFor="let data of Newjson;">localStorage.setItem('email',)
       
        <td>
              {{data.name}}  
          </td> -->
<!-- <td>
              <ul *ngFor="let item of data.batters.batter;">
                <li [ngClass]="item.isColor">
                   {{item.type}} 
                </li>
              </ul>
           </td> 
            <td>
               <ul *ngFor="let y of data.topping;">
                   <li  [ngClass]="y.isColor">
                      {{y.type}} 
                   </li>
                 </ul>
             </td>

     </tr>
    <tr *ngFor="let data of Newjson;">
        
        <td>
              {{data.name}}  
          </td>
           <td>
              <ul *ngFor="let item of data.batters.batter;">
                <li [ngClass]="item.isColor" >
                   {{item.type}} 
                </li>
              </ul>
           </td> 
           <td>
               <ul *ngFor="let y of data.topping;">
                   <li  [ngClass]="y.isColor">
                      {{y.type}} 
                   </li>
                 </ul>
             </td>
     </tr>  -->

<!-- <div>
  <img src="{{displayimage}}" width="25%" height="400px">

 <div>
  <button (click)="clickFunction()">display</button>
 </div>
</div><br>

<div>
  <input type="text" [(ngModel)]="newtext">


  <button (click)="buttonclick()">click me</button>

  <ul *ngFor="let item of rows let i=index">
    
    <li style="width:20%"><button (click)="rows.splice(i,1)">x</button>
      {{item}}
    </li>
  </ul>
</div> -->
<!-- <div >
  <h1>active</h1>

  <ul [(ngModel)]="active1">
    <li>
      {{active1}}
    </li>
  </ul>

</div> -->


<!-- <new-component></new-component> -->
<!-- </div> -->

<div>
  <router-outlet></router-outlet>
</div>